@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap');
html,body{
    direction: rtl;
    font-family: 'Baloo Bhaijaan 2', serif;
    margin: 0;
    padding: 0;
    line-height: 1;
}
body{
  position: relative;
  color: #272c49;
}
body::after {
  content: "";
  height: 91px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(/src/assets/bodyleftBG.png);
  background-repeat: no-repeat;
  background-position-x: -50px;
}
body::before{
  content: "";
    height: 262px;
    width: 628px;
    position: absolute;
    right: 0%;
    bottom: 0px;
    background-image: url(/src/assets/bodyrightBG.png);
    background-repeat: no-repeat;
    background-position-x: 0px
}
.container{
    display:flex;
    justify-content: center;
    width: 100vw;
}
.card-body{

}
.card-body h2{
  font-size:50px;
  font-weight: 800;
  margin: 0;
  line-height: 1;
  color: #e6a928;
}
.card-body h4{
  margin: 0;
  font-size: 28px;
  font-family: Baloo Bhaijaan 2;
}
.NextPrayCont {
  text-align: end;
}

.NextPrayCont h2.NextText {
  font-size: 16px;
  margin: 0;
}

.NextPrayCont h2.TimeToPray {
  font-size: 50px;
  margin: 0;
}

.RegionNameCont {}

.RegionNameCont h2 {
  font-size: 16px;
  margin: 0;
}

.RegionNameCont h1.RegionName {
  font-size: 31px;
  font-weight: 800;
  margin: 0;
}